.item {
    position:relative;
    padding-top:20px;
    display:inline-block;
}
.notify-badge{
    position: absolute;
    right:10px;
    top:10px;
    background:rgb(74, 210, 11);
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    color:white;
    padding:5px 10px;
    font-size:15px;
}
.notify-badge-soldout{
    position: absolute;
    right:10px;
    top:10px;
    background:rgb(220, 9, 9);
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    color:white;
    padding:5px 10px;
    font-size:15px;
}